<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div style="display: inline-block;">
  <div style="display: inline-block;">
  <h1>Washington, DC</h1>
  <p>Humidity: {{humidity}}</p>
  <p>Temprature:(Average):  {{temp_avg}}</p>
  <p>Temprature:(High):  {{temp_high}}</p>
  <p>Temprature:(Low): {{temp_low}}</p>
  <p>Status: {{status}}</p>
  </div>
  <div style="display: inline-block; margin-left: 500px;">
    <img src="https://static.pexels.com/photos/129112/pexels-photo-129112.jpeg" height="200" width="200">
  </div>
  </div>
</body>
</html>